APP_PORT=
APP_HOST=
APP_FRONT_URL=
APP_PRIVAT_URL=

MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
MONGO_URI=

PORT=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION=

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=

ACTION_VERIFY_EMAIL_SECRET=
ACTION_VERIFY_EMAIL_EXPIRATION=

SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_MANAGER_EMAIL=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=

AWS_S3_BUCKET_NAME=
AWS_S3_REGION=
AWS_S3_ACL=
AWS_S3_ENDPOINT=
