<table style="width: 100%; padding: 20px 35px; background-color: #ffffff; border-bottom: 1px solid #e9ecef; box-sizing: border-box; font-family: Arial, sans-serif;">
    <tr>
        <td style="font-size: 26px; text-align: center; color: #343a40;">
            <b style="color: #007bff;">AutoRia</b> Clone
        </td>
    </tr>
</table>